<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navbar</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
</head>
<body>
    <div  class="flex items-center justify-between px-12 py-4 bg-[#37353E] text-white font-[Libertinus]">
        <div class="text-2xl font-semibold">SlpyMryll</div>

        <ul class="flex space-x-8 text-lg">
            <li class="border-b-2 border-transparent hover:border-white pb-1"><a href="../index.html">Home</a></li>
            <li class="border-b-2 border-transparent hover:border-white pb-1><a href="../Pages/Works.html">Works</a></li>
            <li class="border-b-2 border-transparent hover:border-white pb-1><a href="../Pages/About.html">About</a></li>
        </ul>
    </div>
    
</body>
</html>